<!-- Things that are going to vary from game page to game page:
     1) name
     2) description
     3) picture 1, 2, 3
     4) picture caption 1, 2, 3
     5) platform 1, 2, 3
     6) platform link & text 1, 2, 3
     7) comments
-->
<header class="bd-header">
  <div class="bd-header-titles">
    <h1 class="title">
      {{name}}
    </h1>
    <p class="subtitle is-4">
      {{description}}
    </p>
    
  </div>
</header>

<section id="game-screenshots" class="section">
  <div class="columns">
    <div class="column">
      <img src="{{image1URL}}">
    </div>
    <div class="column">
      <img src="{{image2URL}}">
    </div>
    <div class="column">
      <img src="{{image3URL}}">
    </div>
  </div>
</section>