<header class="bd-header">
  <div class="bd-header-titles">
    <h1 class="title">
      {{name}}
    </h1>
    <p class="subtitle is-4">
      {{blurb}}
    </p>
    
  </div>
</header>

<section id="game-screenshots" class="section">
  <div class="columns">
    <div class="column">
      <img src="{{image1URL}}">
    </div>
    <div class="column">
      <img src="{{image2URL}}">
    </div>
    <div class="column">
      <img src="{{image3URL}}">
    </div>
  </div>
</section>