<header class="bd-header">
  <div class="bd-header-titles has-text-centered">
    <h1 class="title is-1">{{name}}</h1>
    <p class="subtitle is-4">{{description}}</p>
  </div>
</header>

<section id="game-screenshots" class="section">
  <div class="columns">
    {{#each screenshots}}
    <div class="column">
      <img src="{{ this.image_path }}">
      <caption>{{ this.caption }}</caption>
    </div>
    {{/each}}
  </div>
</section>

<hr>

<section id="game-downloads" class="section has-text-centered">
  <header>
    <h1 class="title is-1">Download</h1>
  </header>

  <div class="columns">
    {{#each downloads}}
    <div class="column">
      <h2 class="title is-2">
        {{ this.os }}
        <i class="{{ this.os_logo }}"></i>
      </h2>
      <a href="{{ this.path }}">
        <p class="is-size-5">{{ this.link_text }}</p>
      </a>
    </div>
    {{/each}}
  </div>

  <!-- TODO: donation slider thing -->
  <div>

  </div>
</section>

<hr>

<section id="game-comments" class="section">
  <header>
    <h1 class="title is-1 has-text-centered">Comments</h1>
  </header>

  {{#each comments}}
  <div class="media is-centered">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{this.user.image_path}}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <!-- TODO: make the name a link to their user page? -->
          <strong>{{this.user.name}}</strong> - {{this.rating}}/5
          <br>
          {{this.comment}}
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</section>